#summary h1 {
    text-align: left;
    color: #23A18A;
}

#summary h2 {
	color: #23A18A;
}

#summary #repo_name {
	margin-left: 10px;
    color: #FFFFFF;
}

#summary .container {
	margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.sub-menu {
	margin-bottom: 40px;
    width: 100%;
    display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
	background: #333;
	padding: 0 10px;
	border-radius: 10px;
}

.title {
    display: flex;
    flex-wrap: wrap;
}

.chart-container{
    width: 90%;
    margin: 2% 5%;
}

@media (min-width:1024px) {
	.chart-container{
		width: 40%;
	}
}
