#summary h1{
    text-align: left;
    color: #23A18A;
}

#summary h2{
    color: #23A18A;
}

#summary .container{
	margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.sub-menu{
	margin-bottom: 40px;
    width: 100%;
    display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
	background: #333;
	padding: 0 10px;
	border-radius: 10px;
}

.title{
    display: flex;
    flex-wrap: wrap;
}

.select-items{
	display: flex;
	flex-wrap: wrap;
}

.sub-select{
	padding: 0 10px;
	display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	width:170px;
}

.toggle {
    display: none;
}

.arrow-icon {
    cursor: pointer;
}

.toggle:checked ~ .slide_menu {
    display: block;
}

.slide_menu {
	position: absolute;
    display: none;
    background: #333;
    width: 150px;
    margin: auto;
	margin-top: 34px;
    height: 300px;
    border: solid 1px;
    z-index: 50;
    overflow: auto;
}
.calendar{
	padding: 0 10px;
	display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
	width: 500px;
}
.calendar input {
	margin: 0 5px;
	max-height: 30px;
	border: none;
	background-color: transparent;
	color: #fff;
}

.chart-container{
	width: 40%;
	margin: 0 5%;
}
