<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/menu.css')}}">
	{% block stylesheet %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
  </head>
  {% macro render_header() %}
  <body>
	<header>
	  <div class="container">
        <h1>Metrevs</h1>
        <input type="checkbox" id="menu-bar">
        <label class="icon-menu" for="menu-bar">&#9776;</label>
        <nav class="menu">
          <a href="/users">Users</a>
          <a href="/repos">Repos</a>
          <a href="/reports">Reports</a>
          <a href="/teams">Teams</a>
        </nav>
		<div class="profile">
		  <div class="img"></div>
		  <span id="name">name</span>
		</div>
	  </div>
	</header>
	{% endmacro %}
	{% block content %}
	{% endblock %}
	{% macro render_footer() %}
	<footer>
	  <div class="container">
        <p class="copy">Metrevs &copy; 2021 </p>
      </div>
	</footer>
  </body>
  {% endmacro %}
</html>
