<!DOCTYPE html>
<html lang="en">
<head>
    <title>Metrevs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="static/css/landing/common.css">
    <link rel="stylesheet" href="static/css/landing/menu.css">
    <link rel="stylesheet" href="static/css/landing/wellcome.css">
    <link rel="stylesheet" href="static/css/landing/features.css">
    <link rel="stylesheet" href="static/css/landing/about.css">
</head>

<body>
    <header>
        <div class="container">
            <h1>Metrevs</h1>
            <input type="checkbox" id="menu-bar">
            <label class="icon-menu" for="menu-bar"></label>
            <nav class="menu">
                <a href="#wellcome">Welcome</a>
                <a href="#info">Features</a>
                <a href="#about">About</a>
            </nav>
        </div>
    </header>
    <main>
        <section id="wellcome">
            <img src="static/imgs/data1.jpg">
            <div class="container">
                <h2>Metrics to developers</h2>
                <h3>An easy way to keep track of your work</h3>
                <a href="/login">Login</a>
            </div>   
        </section>
        <section id="info">
            <h2>Metrevs</h2>
            <h3>Is a automatic way to get key performance indicators which are used to see and track the developers activity, we report Github crucial statistics, these are used for the enginering team or developers to check the performance of their teams or their own</h3>
        </section>
        <section id="features">
            <h3>Features</h3>
            <div class="container">
                <div class="sub-container1">
                </div>
                <div class="sub-container">
                    <article>
                        <h4>Fast reports</h4>
                        <br>
                        <h5>Generate reports for your repositories in the fastest way and get detailed statistics in seconds.</h5>
                    </article>
                    <article>
                        <h4>Specific reports</h4>
                        <br>
                        <h5>See your repositories statistics selecting many repositories as you need, creating many teams as you want, and selecting a specific date range.</h5>
                    </article>
                    <article>
                        <h4>Unlimited reports and charts</h4>
                        <br>
                        <h5>Generate many reports/charts as you need or want! Our platform is free and have not limits for you!</h5>
                    </article>
                </div>
            </div>
        </section>
        <section id="about">
            <div class="container">
                <h3>About</h3>
                <div class="dev">
                    <img class="photo" src="static/imgs/77108003_10157657877619378_5507117250022211584_n.jpg" alt="">
                    <h4>Diego Ahumada</h4>
                    <div class="sub-container">
                        <a href="https://www.linkedin.com/in/XvariaDev/"><img src="static/imgs/linkedin.png" class="link"></a>
                        <a href="https://github.com/Xvaria"><img src="static/imgs/github.png" class="link"></a>
                        <a href="https://twitter.com/XvariaDev"><img src="static/imgs/twitter.png" class="link"></a>
                    </div>
                </div>
                <div class="dev">
                    <img class="photo" src="static/imgs/1608242963366.png" alt="">
                    <h4>Nicolás Urrea</h4>
                    <div class="sub-container">
                        <a href="https://www.linkedin.com/in/nicolasopf/"><img src="static/imgs/linkedin.png" class="link"></a>
                        <a href="https://github.com/Nicolasopf"><img src="static/imgs/github.png" class="link"></a>
                        <a href="https://twitter.com/Nicolas_opf"><img src="static/imgs/twitter.png" class="link"></a>
                    </div>
                </div>
                <div class="dev">
                    <img class="photo" src="static/imgs/70719283.png" alt="">
                    <h4>Daniel Amado</h4>
                    <div class="sub-container">
                        <a href="https://github.com/Nicolasopf"><img src="static/imgs/linkedin.png" class="link"></a>
                        <a href="https://github.com/danielfep03"><img src="static/imgs/github.png" class="link"></a>
                        <a href="https://github.com/Nicolasopf"><img src="static/imgs/twitter.png" class="link"></a>
                    </div>
                </div>
            <h5>This project was created due to the request of the Torre company, which posed a problem when it came to monitoring the developers performance; initially an integration of two APIs was expected, which were used to know the performance and time taken in every github issue. The scope of our project changed drastically wen they informed us that we had to implement a solution that does not involve the two APIs, instead, create a solution that allows obtaining detailed performance statistics about the developers according to the information collected from github in the pulls requests.<br>
            <br>
            We decided to face the challenge, despite the big changes as the days go by, we were getting closer to the final product, we are proud to say that this project will continue to be developed, and you can expect news from us.<br>
            <br>
            Something we learned in this journey and we are grateful, is to manage projects and create efficient work plans, which made us to understand each part of the project in depth and give us greater productivity when developing.</h5>
            <h3>This project is open source, if you want to contribute to the project, you can do it</h3>
            <a class="here" href="https://github.com/Nicolasopf/waydev_clone/">Here</a>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p class="copy">Metrevs &copy; 2021 </p>
        </div>
    </footer>
</body>
</html>
