<!doctype html>
<html lang="en">
    <head>
        <title>Repos</title>
    </head>
    <body>
	  <h1>We will display a sidebar soon, while it happens, you can join to the subdirectories that are not available yet too in:</h1>
	  <br>
	  <a href="/users">Users<a><br>
	  <a href="/repos">Repos<a><br>
	  <a href="/reports">Reports<a><br>
	  <a href="/teams">Teams<a><br>
	  <br>
	  <h1>Repo:</h1>
	  <h2>{{ repo_name }}</h2>
      <h1>Users:</h1>
	  <select name="devs">
		<option selected></option>
		{% for name in users %}
		<option>{{ name.login }}</option>
		{% endfor %}
	  </select>
    </body>
</html>
