{% extends "base.html" %}
{% from "base.html" import render_header %}
{% from "base.html" import render_footer %}
{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static', filename='css/panel.css')}}">
{% endblock %}
{% block content %}
{{ render_header() }}
<main>
  <section id="summary">
    <div class="container">
	  <div class="sub-menu">
		<div class="title">
		  <h1>Summary:</h1>
		  <h2>{{ repo_name }}</h2>
		</div>
		<div class="select-items">
		  <div class="sub-select">
			<h2>Users:</h2>
			<input type="checkbox" id="arrow" class="toggle">
			<label for="arrow" class="arrow-icon">&#9776;</label>
			<div class="slide_menu">
			  <form method="post" action="{{ url_for('app_views.show_repo_info') }}">
				{% for name in users %}
				<p class="items"><input type="checkbox" name="username" value="{{ name.login }}">{{ name.login }}</p>
				{% endfor %}
			</div>
		  </div>
		  <p><button type="submit">submit</button></p>
		  <div class="calendar">
			<h2>Date:</h2>
			<input type="date" id="start" name="trip-start" value="" min="2010-01-01" max="2021-06-17">
			<label for="start" class="arrow-icon1">&#9776;</label>
		  </div>
		</div>
	  </div>
	</div>
  </section>
</main>
{{ render_footer() }}
{% endblock %}
