hi
Total PRs: {{ prs }}<br>
Open PRs: {{ open_prs }}<br>
Closed PRs: {{ closed }}<br>
Merged PRs: {{ merged }}<br>
Merged without review: {{ merged_no_review }}<br>
No of comments in PRs: {{ comments }}<br>
No of reviews in PRs: {{ reviews }}<br>
AVG comments PRs: {{ comment_avg }}<br>
AVG time to first comment in PRs: {{ avg_time_first_comment }}<br>
AVG time to first review: {{ avg_time_first_review }}<br>
AVG time merge from create: {{ avg_time_merge_create }}<br>
AVG time merge from first commit: {{ avg_time_first_commit }}<br>
AVG time merge from first comment: {{ avg_time_merge_comment }}<br>
AVG time merge from first review: {{ avg_time_merge_review }}<br>
