<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reports</title>
</head>

<body>
	<a href="/authorize"> 1. Authorize</a> <br/>
	<button id="report">2. GENERATE REPORT TO GOOGLE SHEETS</button>
	{% block javascript %}
	<script>
		const text = document.getElementById('report').value
		const generate_reports = () => {
			fetch('https://devmeasure.herokuapp.com/generate')
				.then(response => response.json())
				.then(data => console.log(data));
		}
		report.addEventListener('click', generate_reports)

	</script>
	{% endblock %}
</body>

</html>