{% extends "base.html" %}
{% from "base.html" import render_header %}
{% from "base.html" import render_footer %}
{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static', filename='css/repos.css')}}">
{% endblock %}
{% block content %}
{{ render_header() }}
<main>
	<section id="repository">
		<div class="container">
			<div class="sub-menu">
				<div class="title">
					<h1>Repository stats</h1>
				</div>
				<div class="select-items">
					<div class="sub-select">
						<h2>Users:</h2>
						<input type="checkbox" id="arrow" class="toggle">
						<label for="arrow" class="arrow-icon">&#9776;</label>
						<div class="slide_menu">
							{% for name in users %}
							<p class="items"><input type="checkbox" name="username">{{ name.login }}</p>
							{% endfor %}
						</div>
					</div>
					<div class="calendar">
						<h2>From:</h2>
						<input type="date" id="start" name="trip-start" value="" min="2010-01-01" max="2021-06-17">
						<h2>To:</h2>
						<input type="date" id="end" name="trip-end" value="" min="2010-01-01" max="2021-06-17">
					</div>
				</div>
			</div>
			{% for key, value in repos_data.items() %}
			<h2 class="tablename">Repo: {{ key }}</h2>
			<div class="tables">
				<table>
					<tr>
						<th></th>
						<th>Total PRs</th>
						<th>Open PRs</th>
						<th>Closed PRs</th>
						<th>Merged PRs</th>
						<th>Merged without review</th>
						<th>No of comments in PRs</th>
						<th>No of reviews in PRs</th>
						<th>AVG comments PRs</th>
						<th>AVG time to first comment in PRs</th>
						<th>AVG time to first review</th>
						<th>AVG time merge from create</th>
						<th>AVG time merge from first commit</th>
						<th>AVG time merge from first comment</th>
						<th>AVG time merge from first review</th>
					</tr>
					{% for user, dics in value.items() %}
					<tr>
						<td class="celluser">{{ user }}</td>
						<td>{{ dics["prs"] }}</td>
						<td>{{ dics["open_prs"] }}</td>
						<td>{{ dics["closed"] }}</td>
						<td>{{ dics["merged"] }}</td>
						<td>{{ dics["merged_no_review"] }}</td>
						<td>{{ dics["comments"] }}</td>
						<td>{{ dics["reviews"] }}</td>
						<td>{{ dics["comment_avg"] }}</td>
						<td>{{ dics["avg_time_first_comment"] }}</td>
						<td>{{ dics["avg_time_first_review"] }}</td>
						<td>{{ dics["avg_time_merge_create"] }}</td>
						<td>{{ dics["avg_time_first_commit"] }}</td>
						<td>{{ dics["avg_time_merge_comment"] }}</td>
						<td>{{ dics["avg_time_merge_review"] }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<br><br>
			{% endfor %}
		</div>
	</section>
</main>
{{ render_footer() }}
{% endblock %}