{% extends "base.html" %}
{% from "base.html" import render_header %}
{% from "base.html" import render_footer %}
{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static', filename='css/repos.css')}}">
{% endblock %}
{% block content %}
{{ render_header() }}
<main>
	<section id="repository">
		<div class="container">
			<div class="sub-menu">
				<div class="title">
					<h1>Review Reports</h1>
				</div>
                <form method="post" action="{{ url_for('app_views.show_review_info') }}">
				<div class="select-items">
				  <div class="sub-select">
					<h2>Repos:</h2>
                    <input type="checkbox" id="arrow" class="toggle">
                    <label for="arrow" class="arrow-icon">&#9776;</label>
                    <div class="slide_menu">
						{% for repo in repos_data.keys() %}
                        <p class="items"><input type="checkbox" name="reponame" value="{{ repo }}">{{ repo.split('/')[1] }}</p>
						{% endfor %}
                    </div>
                  </div>
				  <div class="sub-select">
					<h2>Reviewers:</h2>
                    <input type="checkbox" id="arrow1" class="toggle">
                    <label for="arrow1" class="arrow-icon">&#9776;</label>
                    <div class="slide_menu">
					  {% for user in final_user_list %}
                      <p class="items"><input type="checkbox" name="username" value="{{ user }}">{{ user }}</p>
					  {% endfor %}
                    </div>
                  </div>
				  <div class="sub-select">
					<h2>Devs:</h2>
                    <input type="checkbox" id="arrow2" class="toggle">
                    <label for="arrow2" class="arrow-icon">&#9776;</label>
                    <div class="slide_menu">
					  {% for user in final_user_list %}
                      <p class="items"><input type="checkbox" name="username" value="{{ user }}">{{ user }}</p>
					  {% endfor %}
                    </div>
                  </div>
                  <div class="calendar">
                    <h2>From:</h2>
                    <input type="date" id="start" name="trip-start" value="" min="2010-01-01" max="2021-07-03">
                    <h2>To:</h2>
                    <input type="date" id="end" name="trip-end" value="" min="2010-01-01" max="2021-07-03">
                  </div>
				  <p><button type="submit" id="send">New report</button></p>
                </div>
			</div>
			{% for key, value in repos_data.items() %}
			{% if repos_data[key] %}
			<h2 class="tablename">Repo: {{ key }}</h2>
			<h3 class="pov">POV of reviewer</h3>
			<div class="tables">
				<table>
					<tr>
						<th>Developer</th>
						<th>Reviews done</th>
						<th>Reviews pending</th>
						<th>Reviews requested changes</th>
						<th>Reviews commented</th>
						<th>Reviews approved</th>
						<th>Avg. Review done</th>
					</tr>
					{% for user, dics in value.items() %}
					<tr>
						<td class="celluser">{{ user }}</td>
						<td>{{ dics["done"] }}</td>
						<td>{{ dics["pending_reviewer"] }}</td>
						<td>{{ dics["request_changes"] }}</td>
						<td>{{ dics["commented"] }}</td>
						<td>{{ dics["approved"] }}</td>
						<td>{{ dics["avg_review_pr"] }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<h3 class="pov">POV of Developer</h3>
			<div class="tables">
				<table>
					<tr>
						<th>Developer</th>
						<th>Total PRs</th>
						<th>Reviews pending</th>
						<th>Reviews received</th>
					</tr>
					{% for user, dics in value.items() %}
					<tr>
						<td class="celluser">{{ user }}</td>
						<td>{{ dics["total_prs"] }}</td>
						<td>{{ dics["pending_dev"] }}</td>
						<td>{{ dics["received"] }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</section>
</main>
{{ render_footer() }}
{% endblock %}
