{% extends "base.html" %}
{% from "base.html" import render_header %}
{% from "base.html" import render_footer %}
{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static', filename='css/repos.css')}}">
{% endblock %}
{% block content %}
{{ render_header() }}
<main>
	<section id="repository">
		<div class="container">
			<div class="sub-menu">
				<div class="title">
					<h1>Review Reports</h1>
				</div>
				<div class="select-items">
				  <div class="sub-select">
					<h2>Users:</h2>
                    <input type="checkbox" id="arrow" class="toggle">
                    <label for="arrow" class="arrow-icon">&#9776;</label>
                    <div class="slide_menu">
                      <form method="post" action="{{ url_for('app_views.show_review_info') }}">
						{% for user in final_user_list %}
                        <p class="items"><input type="checkbox" name="username" value="{{ user }}">{{ user }}</p>
						{% endfor %}
                    </div>
                  </div>
                  <div class="calendar">
                    <h2>From:</h2>
                    <input type="date" id="start" name="trip-start" value="" min="2010-01-01" max="2021-06-19">
                    <h2>To:</h2>
                    <input type="date" id="end" name="trip-end" value="" min="2010-01-01" max="2021-06-19">
                  </div>
				  <p><button type="submit" id="send">New report</button></p>
                </div>
			</div>
			{% for key, value in repos_data.items() %}
			<h2 class="tablename">Repo: {{ key }}</h2>
			<div class="tables">
				<table>
					<tr>
						<th>Developer</th>
						<th>Pending Reviews Requested</th>
						<th>Reviews Received</th>
						<th>Reviews Done</th>
						<th>Avg. Received per PR</th>
						<th>Avg. Time Between Reviews</th>
					</tr>
					{% for user, dics in value.items() %}
					<tr>
						<td class="celluser">{{ user }}</td>
						<td>{{ dics["requests"] }}</td>
						<td>{{ dics["received"] }}</td>
						<td>{{ dics["done"] }}</td>
						<td>{{ dics["avg_received_pr"] }}</td>
						<td>{{ dics["avg_time_reviews"] }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<br><br>
			{% endfor %}
		</div>
	</section>
</main>
{{ render_footer() }}
{% endblock %}
